body{
    font-family: "Crimson Text","Times New Roman",serif;
    background-color: #F2FFFC;
    text-align: justify;
    
}
main h1 {
    font-size: 60px;
    background-color: #851944;
    color: white;
    text-align: center;    
}

h1,h2 {    
    font-family: "Open Sans Condensed","Times New Roman",sans-serif;
    }

p{    
    margin-right: 350px;
}

a{
    color: #851944; 
    background-color: transparent; 
    text-decoration: none;
    font-family: "Open Sans Condensed","Times New Roman",sans-serif;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-family: "Open Sans Condensed","Times New Roman",sans-serif;
}

div.menu{
    width: 210px;
    height: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    text-align: center;
    background-color: #3c1d3d;
}
img{
    width: 150px;
    margin-left: 50px;
}
div.menu,img.menu, main h1{
    border: 5px solid black;
}
div a, div h1{
    color: #F2FFFC;
}
nav{
    margin-top: 25px;
}
div h1{
    font-size: 30px;
}

footer{
    background-color: black;
    color: #F2FFFC;    
}
blockquote{
    background-color: #D9E5E3;
}
