body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
    text-align: justify;
    line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal  {
	text-align: center;
	background-color: #851944;
	color: #FFF;
    font-size: 60px;
    margin: 0px;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid black;
}

p {
	text-align: justify;
    padding: 20px 0;
}

a{
    color: #851944; 
    background-color: transparent; 
    text-decoration: none;
    font-family: "Open Sans Condensed","Times New Roman",sans-serif;
}

blockquote {
	background-color: #D9E5E3;
    padding: 20px;
    border: 5px solid #C2CCCA;
    width: 200px;
    margin: 20px 40px;
    box-sizing: border-box;
}

.navegacao-site{
	background-color: #3C1D3D;    
	color: #F2FFFC;
    text-align: center;
}

.rodape-pagina{
	background-color: #000;
	color: #F2FFFC;
    padding: 20px;
}

.conteudo-principal a {
	color: #851944;
}

.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.texto-pagina{
    width: 720px;
    margin: auto;
    padding: 30px 0; 
}

.navegacao-site h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-size: 30px;
}

.icones-redes-sociais li {
	display: inline-block;
}


.artigo{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.leia-mais{
    font-size: 25px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    display: block;
    background-color: #E6E7E8
}

nav a {
	text-transform: lowercase;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -99999px;
}

.github {
	background-image: url(../Src/github.png);
}

.twitter {
	background-image: url(../Src/twitter.png);
}

.linkedin {
	background-image: url(../Src/linkedin.png);
}